agu-2017/presentation/media/7-legend.png
agu-2017/agu script.docx
agu-2017/Session abstract.docx
agu-2017/presentation/media/11-emu-side.png
agu-2017/presentation/media/13.png
agu-2017/presentation/media/14.png
agu-2017/presentation/media/15.png
agu-2017/presentation/media/16.png
agu-2017/presentation/media/16-variables.png
agu-2017/presentation/media/18.png
agu-2017/presentation/media/19.png
agu-2017/presentation/media/20.png
agu-2017/presentation/media/21.png
agu-2017/presentation/media/22.png
agu-2017/presentation/media/24.png
agu-2017/presentation/media/25.png
agu-2017/presentation/media/26.png
agu-2017/presentation/media/28.png
agu-2017/presentation/media/29.png
agu-2017/presentation/media/3-code.png
agu-2017/presentation/media/3-map.png
agu-2017/presentation/media/5-bivariate.png
agu-2017/presentation/media/5-color.png
agu-2017/presentation/media/5-predominance.png
agu-2017/presentation/media/5-size.png
agu-2017/presentation/media/5-wind.png
agu-2017/presentation/media/6-above-and-below.png
agu-2017/presentation/media/6-ceneted-on.png
agu-2017/presentation/media/6-extremes.png
agu-2017/presentation/media/6-high-to-low.png
agu-2017/presentation/media/7-default.png
agu-2017/presentation/media/7-renderer.png
agu-2017/presentation/media/8-emu-2d.gif
agu-2017/presentation/media/9-above.png
agu-2017/presentation/media/9-side.png
agu-2017/presentation/media/above-below.mp4
agu-2017/presentation/media/arcade.gif
agu-2017/presentation/media/bivariate.gif
agu-2017/presentation/media/centered-on.mp4
agu-2017/presentation/media/editor.gif
agu-2017/presentation/media/emu-2d-still.png
agu-2017/presentation/media/emu-rotate.mp4
agu-2017/presentation/media/EMUsByDepth2.gif
agu-2017/presentation/media/extremes.gif
agu-2017/presentation/media/extremes.mp4
agu-2017/presentation/media/maldives.png
agu-2017/presentation/media/pcl-sm.gif
agu-2017/presentation/media/popup.gif
agu-2017/presentation/media/rotate-salinity.mp4

agu-2017/presentation/smart-mapping-overview.pptx


ds-2018/2d-viz/slides.pptx
ds-2018/3d-viz/slides.pptx
ds-2018/3d-viz/3DVisualization-DS2018.pptx
ds-2018/3d-viz-2d-data/2DData-3DViz-DS2018.pptx
ds-2018/arcade/slides.pptx
ds-2018/arcade/arcade-slides.pptx
ds-2018/geometry-engine/slides.pptx
ds-2018/geometry-engine/ge-slides.pptx
ds-2018/smart-mapping/slides.pptx
