
html,
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#viewDiv {
  position: absolute;
  right: 0;
  left: 0;
  top: 60px;
  bottom: 0;
}

#chartDiv {
  width: 400px;
  height: 400px;
  background-color: white;
}

.header {
  position: absolute;
  top: 0;
  height: 60px;
  width: 100%;
}

.seasons {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.season-item {
  flex-grow: 4;
  background-color: rgba(103, 41, 41, 0.5);
  color: #fff;
  margin: 1px;
  width: 50%;
  padding: 20px;
  overflow: auto;
  text-align: center;
  cursor: pointer;
  font-size: 0.7em;
}

.visible-season {
  color: #fff;
  background-color: rgb(103, 41, 41);
}